
header,footer{
    text-align: center;
}

.mainContent{
    display: flex;
    width:100%;
    
}

.mainContent aside{
   align-self: center;
    width:10%;
}

.mainContent section{
    width:90%;
    font-size: 12px;
}